
    <header id="header">
      <h1>Buttercup</h1>
      <h2>Product Catalog</h2>
    </header>
    <section id="product-body"> 
      <table id="catalog-table">
        <thead>
         <tr>
           <th class="medium-cell">Product Name</th>
           <th class="large-cell">Description</th>
         </tr>
        </thead>
        <tbody id="product-info">
        </tbody>
      </table>
      <section id="msgs">
      </section>
      <footer id="catalog-controls">
      <button type="button" class="add-product">Add a product</button>
      <button type="button" class="back-to-home">Home Page</button>
      </footer>
    </section>
