
    <h1>Enter new product information:</h1>
    <form id="addProd">
      <label for="name">Name </label>
      <input type="text" id="name" placeholder="Bicycle"></br>
      <label for="description">Description </label>
      <input type="textarea" id="description" placeholder="maxlength is 100chars"></br>
      <label for="width">Width </label>
      <input type="number" id="width" placeholder="width in inches"></br>
      <label for="length">Length </label>
      <input type="number" id="length" placeholder="length in inches"></br>
      <label for="height">Height </label>
      <input type="number" id="height" placeholder="height in inches"></br>
      <label for="weight">Weight </label>
      <input type="number" id="weight" placeholder="weight in lbs"></br>
      <label for="value">Value </label>
      <input type="number" id="value" placeholder="value in US $"></br>
      <button type="button" id="next-prod">Add</button></br>
      <a id="catalog-back" href="">Back to catalog</a></br>
    </form>
    <section id="msgs">
    </section>
 