
    <header id="header">
      <h1>Buttercup</h1>
      <h2>Order Catalog</h2>
    </header>
    <section id="order-body"> 
      <table id="orders-table">
        <thead>
         <tr>
           <th class="medium-cell">Recipient Name</th>
           <th class="large-cell">Product Name</th>
         </tr>
        </thead>
        <tbody id="order-info">
        </tbody>
      </table>
      <section id="msgs">
      </section>
      <footer id="order-controls">
      <button type="button" class="add-order">New Order</button>
      <button type="button" class="backhome">Home Page</button>
      </footer>
    </section>
