
   <table id="order-details">
      <thead>
        <th>Order Detail</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Recipient Name</td><td><%=recipientName%></td>
        </tr>
        <tr>
          <td>Street Address</td><td><%=streetAddress%></td> 
        </tr>
        <tr>
          <td>City</td><td><%=city%></td> 
        </tr>
        <tr>
          <td>State</td><td><%=state%></td>
        </tr>
        <tr>
          <td>Zip Code</td><td><%=zipCode%></td>
        </tr>
        <tr>
          <td>Phone </td><td><%=phoneNumber%></td> 
        </tr>
        <tr>
          <td>Product Name</td><td><%=productName%></td>
        </tr>
        <tr>
          <td>Quantity</td><td><%=quantity%></td>
        </tr>
      </tbody>
    </table>
    <a id="order-back" href="#">Back to Orders</a>